body {
    background-color: gold;
    font-family: fantasy;
}

button:hover {
    color: #5531f5;
    }

button:active {
    color: red;
    }

button {
    margin: 10px;
    border-radius: 5px;
    background-color: orange;
    display: block;
    size: 32px;
    font-family: fantasy;
    cursor: pointer;
    color: white;
    }
    