body {
    background-color: gold;
    font-family: fantasy;
}

h1, button {
    text-align: center;
}

button:hover {
    color: #5531f5;
}

button:active {
    color: red;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin: 50px auto;
    border-radius: 5px;
    background-color: orange;
    display: block;
    padding: 10px;
    font-family: fantasy;
    color: white;
    cursor: pointer;
}
