body {
    background-color: gold;
    font-family: fantasy;
}

.center, .center-text, p {
    text-align: center;
}

.center {
    list-style-position: inside;
}

a {
    text-decoration: none;

}
a:hover {
    color: #5531f5;
}

a:active {
    color: red;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

