body {
    background-color: gold;
    font-family: fantasy;
}

h1, button {
    text-align: center;
}

button:hover {
    color: white;
}

button:active {
    color: red;
}

.image-container {
    text-align: center;
}


.chef, .turkey {
    display: inline-block;
    margin: auto;
}

.chef {
    margin: auto 70px;
}

button {
    margin: 50px auto;
    border-radius: 5px;
    background-color: orange;
    display: block;
    padding: 10px;
    font-family: fantasy;
    cursor: pointer;
}
